.rotate--container {
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-right: 80px;
}

.slide-content {
     /* Default background */
    color: var(--primary--color);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    padding: 20px; 
    border-radius: 10px; 
    font-weight: bold;
    font-size: 200px;
    border: 2px solid white;
}

.swiper-slide-active .slide-content {
 /* Change background color for the active slide */
    transform: scale(1.2); /* Enlarge the active slide */
}

.rotator--decor{
    height: 300px;
    width: 300px;
    background-color: var(--primary--color);
    position: absolute;
    bottom:0;
    right: 0;
    border-top-left-radius: 30px;
}
